body {
background-color:#f9f0f8;
    height:150vh;
}
h1{
    text-align:center ;
}
span{
    color:red;
}
.main{
display:flex;
flex-wrap:wrap;
  width:90%;
  justify-content:center ;
  
  padding:1rem;
  background-color:#f9f0f9;
  text-align:center ;
  color:white
}
.title{
    font-size:10px;
}
h2{
    text-align:center ;
}
.cont{
    width:150px;
    height:200px;
    background-color:#fabec0;
    box-shadow:0 0 5px #ffffff;
    text-align:center;
    overflow-x:scroll ;
    font-size:8px;
    margin:2px;
    
}
p,dl,h1{
    color:black;
}
p{
    line-height:22px;
    text-align:center  ;
}
dl{
    text-align:justify ;
}
.img{
 width:50px;
}
.price, .description{
    margin:1rem;
    }
